:root {
  --tp-theme-color: #0057fc; 
  --tp-theme-color-2: #ffe815;
  --tp-theme-color-3: #FEDC76;
  --tp-theme-color-4: #FFF3D7;
  --tp-theme-orange: #FF5B15;
  --tp-theme-red: #FF3838;
  --tp-heading-color: #0a0e1a;
  --tp-common-black: #000;
  --tp-cream-color: #fbf6ef;
  --tp-body-color: #57595c;
  --tp-theme-nblue: #001c52;
  --tp-white-color: #fff
  --tp-rom-color: #fbf6ef;
}
