@use "../../utils" as *;

.tp-transparent-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 70;
}

.tp-header-area {
  @media #{$xl} {
    padding-left: 30px;
    // padding-right: 30px;
  }
  @media #{$lg, $md} {
    padding-left: 40px;
  }
  @media #{$xs,$sm} {
    padding-left: 15px;
  }
}

.tp-main-menu {
  @media #{$xxlm} {
    padding-left: 30px;
  }
  @media #{$xl} {
    padding-left: 15px;
  }
  & ul {
    & > li {
      display: inline-block;
      margin-right: 42px;
      position: relative;

      @media screen and (min-width: 1600px) and (max-width: 1800px) {
        margin-right: 25px;
      }

      @media #{$xxlm} {
        margin-right: 27px;
      }
      @media #{$xl} {
        margin-right: 20px;
      }

      & > a {
        color: #fff;
        font-family: var(--tp-font-heading);
        font-size: 18px;
        padding: 37px 0;
        display: inline-block;
        position: relative;
        &::before {
          content: "\f121";
          font-size: 40px;
          font-family: var(--tp-font-flaticon);
          position: absolute;
          top: -4px;
          right: -20px;
          opacity: 0;
          transition: 0.3s;
        }
      }

      & .sub-menu {
        position: absolute;
        top: 110%;
        width: 180px;
        left: 0;
        background-color: #fff;
        padding: 16px 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        & li {
          margin-right: 0;
          display: block;
          & a {
            color: #000;
            display: block;
            padding: 4px 25px;
            font-size: 17px;
            &::before {
              display: none;
            }
          }
          &:hover {
            & a {
              color: #0057fc;
            }
          }
        }
      }
      &:hover {
        & a {
          color: var(--tp-theme-color-2);
          &::before {
            opacity: 1;
            right: -15px;
            top: 0;
          }
        }
        & .sub-menu {
          opacity: 1;
          visibility: visible;
          top: 100%;
        }
      }
    }
  }

  &-black {
    & ul {
      & li {
        & a {
          color: #0a0e1a;
        }
        &:hover {
          & a {
            color: var(--tp-theme-orange);
          }
        }
      }
    }
  }
}

.tp-header {
  &-space {
    @media #{$xxlm} {
      padding-left: 50px;
      padding-right: 50px;
    }
    @media #{$xl, $lg} {
      padding-left: 30px;
      padding-right: 30px;
    }
    @media #{$md} {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media #{$sm, $xs} {
      padding: 10px 15px;
    }
    &-3 {
      @media #{$lg, $md} {
        padding: 25px;
      }
    }
    &-4 {
      @media #{$lg, $md} {
        padding: 25px;
      }
      @media #{$sm} {
        padding: 20px;
      }
    }
  }
  &-border {
    border-bottom: 1px solid #ffffff15;
  }
  &-search {
    margin-right: 40px;

    @media #{$xl} {
      margin-right: 25px;
    }

    & i {
      font-size: 30px;
      color: #b1b4ba;
    }
  }

  &-cta {
    display: flex;
    align-items: center;
    padding: 23px 40px;
    border-left: 1px solid #ffffff15;

    @media #{$xl} {
      padding: 26px 25px;
    }

    @media #{$xl,$xxlm,$xxl} {
      padding: 21px 25px;
    }

    & i {
      font-size: 30px;
      color: var(--tp-theme-color-2);
    }

    &-icon {
      margin-right: 15px;
    }
    &-text {
      span {
        color: #b1b4ba;
        font-size: 15px;
        display: block;
      }
      h4 {
        color: #ffffff;
        font-size: 18px;
      }
    }
  }
  &-bar {
    & button {
      background-color: #23252d;
      padding: 25px 30px;
      display: flex;
      align-items: center;

      @media #{$md} {
        padding: 25px 35px;
      }
      @media #{$xl, $lg, $xxlm,$xxl} {
        padding: 24px 36px;
      }

      & i {
        color: #fff;
        font-size: 52px;
      }
    }
  }
  &-btn {
    display: flex;
    align-items: center;
  }

  &-right {
    &-black {
      & .tp-header {
        &-search {
          margin-right: 20px;
          & i {
            color: #0a0e1a;
            font-size: 30px;
          }
        }

        &-bar {
          margin-left: 20px;
          & button {
            background: none;
            padding: 0;

            & i {
              color: #0a0e1a;
            }
          }
        }
      }
      & .sep-vr {
        height: 40px;
        width: 1px;
        background: #f2ddd1;
      }
    }
  }
}

.tp-header-toggle {
  & button {
    background-color: #23252d;
    padding: 11px 16px;
    display: flex;
    align-items: center;
    font-size: 43px;
    color: #fff;
    border-radius: 10px;
  }
}

// mega menu

.tp-main-menu {
  & ul {
    & > li {
      &:hover {
        .tp-mega-menu {
          opacity: 1;
          visibility: visible;
          top: 100%;
        }
      }
    }
  }
}

.tp-mega-menu {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  width: 1200px;
  background: #fff;
  padding: 25px;
  padding-bottom: 0;
  box-shadow: 0px 20px 30px rgba(1, 15, 28, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;

  @media #{$xl, $lg, $md, $sm, $xs} {
    width: 1000px;
  }

  @media #{$lg, $md, $sm, $xs} {
    width: auto;
    opacity: 1;
    visibility: visible;
    position: static;
    transition: inherit;
    display: none;
  }
}

.tp-home-thumb {
  text-align: center;
  & img {
    box-shadow: 0px 2px 6px rgba(1, 15, 28, 0.2);
  }
}

.tp-home-title {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0;
}

// animation keyframe
@keyframes tpfadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.tpfadeInDown {
  animation: tpfadeInDown 1s ease-out forwards;
}

//  sticky
.header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-animation: 0.7s ease-in-out 0s normal none 1 running tpfadeInDown;
  animation: 0.7s ease-in-out 0s normal none 1 running tpfadeInDown;
  &.tp-header-1 {
    background-color: var(--tp-common-black);
  }
}
