@use "../../utils" as *;

.tp-footer-social-media {
  & a {
    font-size: 30px;
    display: block;
    font-family: var(--tp-font-heading);
    color: #fff;
    padding: 30px 51px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    text-align: center;

    @media #{$lg} {
      font-size: 21px;
    }
  }
}

.footer-5-col-1 {
  padding-left: 0;
}
.footer-5-col-4 {
  @media #{$sm, $xs} {
    padding-left: 0;
  }
}
