@use "../utils" as *;

.w-img {
  & img {
    width: 100%;
  }
}
.m-img {
  & img {
    max-width: 100%;
  }
}

// img {
//   width: 100%;
// }

.fix {
  overflow: hidden;
}
.clear {
  clear: both;
}

.z-index-1 {
  z-index: 1;
}

.z-index-11 {
  z-index: 11;
}

.bg-pos-end {
  background-position: bottom;
  background-repeat: no-repeat;
}

.text-upper {
  text-transform: uppercase;
}
.text-cap {
  text-transform: capitalize;
}

.overflow-y-visible {
  overflow-x: hidden;
  overflow-y: visible;
}
.overflow-x-visible {
  overflow-x: visible;
  overflow-y: hidden;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.br-24 {
  border-radius: 24px;
}
.br {
  &-10 {
    & img {
      border-radius: 10px;
    }
  }
  &-15 {
    & img {
      border-radius: 15px;
    }
  }
  &-20 {
    border-radius: 20px;
    & img {
      border-radius: 20px;
    }
  }
  &-150 {
    border-radius: 150px;
  }
}

.tp-fs {
  &-30 {
    font-size: 30px;
    @media #{$sm, $xs} {
      font-size: 23px;
    }
  }
  &-40 {
    font-size: 40px;
    @media #{$xl} {
      font-size: 31px;
    }
    @media #{$lg, $sm} {
      font-size: 25px;
    }
    @media #{$xs} {
      font-size: 19px;
    }
  }
  &-50 {
    font-size: 50px;
  }
  &-24 {
    font-size: 24px;
  }
  &-20 {
    font-size: 24px;
  }
}

.fw-reg {
  font-weight: 400;
}
.white-text {
  color: #fff;
}
.tp-white-bg {
  background-color: #fff;
}
.tp-black-bg {
  background-color: var(--tp-common-black);
}
.tp-blue-bg {
  background-color: var(--tp-theme-color);
}
.tp-yellow-bg {
  background-color: var(--tp-theme-color-2);
}

.tp-nblue-bg {
  background-color: var(--tp-theme-nblue);
}

.tp-cream-bg {
  background-color: var(--tp-cream-color);
}
.tp-theme-black-bg {
  background-color: var(--tp-heading-color);
}
.tp-color-orange {
  color: var(--tp-theme-orange);
}

.tp-section-m-100 {
  margin: 0 100px;
  @media #{$xxlm} {
    margin: 0 50px;
  }
  @media #{$xl, $lg, $md, $sm, $xs} {
    margin: 0;
  }
}

.tp-slide-transition {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.tp-brand-slide-element {
  width: auto;
  display: inline-block;
}
