@use "../../utils" as *;

.tpblog {
  &__thumb {
    & a {
      & img {
        width: 100%;
        border-radius: 20px;
      }
    }
  }
  &__content {
    @media #{$lg,$md} {
      padding-left: 3px;
    }

    &-meta {
      width: 55px;
      height: 170px;
      background-color: #ffe4fb;
      text-align: center;
      justify-content: center;
      padding: 8px 0;
      position: relative;
      display: flex;
      align-items: end;
      border-radius: 10px;
      flex: 0 0 auto;
      & i {
        height: 45px;
        width: 45px;
        background-color: #fff;
        border: 1px solid #57595c;
        border-radius: 10px;
        line-height: 43px;
        text-align: center;
      }
      & span {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        & cite {
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          width: 130px;
          position: absolute;
          left: -37px;
          bottom: 98px;
          transform: rotate(-90deg);
          text-transform: uppercase;
        }
      }
    }
  }
  &__meta {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    & span {
      font-size: 17px;
      color: #57595c;
      & i {
        margin-right: 7px;
      }
    }
    & cite {
      width: 2px;
      height: 16px;
      background: #57595c;
      display: inline-block;
      margin: 0 8px;
    }
  }
  &__title {
    font-size: 30px;
    line-height: 1.25;
    @media #{$lg} {
      font-size: 27px;
    }
  }
  &-2 {
    border: 1px solid #000;
    position: relative;
    & .tpblog__thumb {
      width: 200px;
      flex: 0 0 auto;
      transform: translateY(-12px);
      margin-left: -4px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      & img {
        height: calc(100% + 24px);
        object-fit: cover;
      }
    }
    & .tpblog__content {
      padding-left: 228px;
      padding-top: 23px;
      padding-bottom: 23px;
    }
  }
}
