@use "../utils" as *;

.tp-breadcrumb {
  &-space {
    padding-top: 235px;
    padding-bottom: 140px;
  }

  &-title {
    font-size: 70px;
    @media #{$sm, $xs} {
      font-size: 50px;
    }
  }
  &-list {
    & span {
      margin: 0 2px;
      display: inline-block;
      & a {
        font-size: 20px;
        color: #b1b4ba;
      }
      &.active {
        & a {
          color: var(--tp-theme-color-2);
        }
      }
      &.divr {
        margin: 0 2px;
        font-weight: 700;
        font-size: 20px;
      }
    }
  }

  &-shape-1 {
    left: 10%;
    top: 185px;
    @media #{$sm, $xs} {
      width: 100px;
    }
  }
  &-shape-2 {
    right: 32%;
    top: 146px;
    @media #{$sm, $xs} {
      width: 70px;
    }
  }
  &-shape-3 {
    right: 15%;
    top: 230px;
    @media #{$sm, $xs} {
      width: 110px;
    }
  }
}
