@use "../utils" as *;

.tp-btn {
  color: #fff;
  background-color: var(--tp-theme-color);
  padding: 15px 45px;
  font-family: var(--tp-font-heading);
  font-size: 18px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  &-200 {
    padding: 16px 35px;
  }

  & > i {
    width: 22px;
    height: 100%;
    background-color: #71a2ff;
    position: absolute;
    bottom: -5px;
    right: -9px;
    transform: rotate(21deg);
    transition: 0.3s;
  }
  &:hover {
    color: #fff;
    & .tp-btn-y-1 {
      transform: translateY(-100%);
    }
    & .tp-btn-y-2 {
      transform: translateY(0);
    }
    & i {
      right: -100%;
    }
  }

  &-sec {
    background-color: var(--tp-theme-color-2);
    padding: 15px 42px;
    font-family: var(--tp-font-heading);
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    overflow: hidden;

    &-lg {
      padding: 21px 45px;
    }
    & > i {
      width: 22px;
      height: 100%;
      background-color: #e5cf00;
      position: absolute;
      bottom: -5px;
      right: -9px;
      transform: rotate(21deg);
      transition: 0.3s;
    }
    &:hover {
      & .tp-btn-y-1 {
        transform: translateY(-100%);
      }
      & .tp-btn-y-2 {
        transform: translateY(0);
      }
      & i {
        right: -100%;
      }
    }
  }

  &-circle {
    font-family: var(--tp-font-heading);
    font-size: 60px;
    color: #fff;
    opacity: 0.3;
    padding: 48px 75px;
    display: inline-block;
    line-height: 1;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    transition: 0.3s;
    @media #{$xs} {
      font-size: 45px;
    }
    &:hover {
      background-color: var(--tp-theme-color);
      color: #fff;
      border-color: var(--tp-theme-color);
      opacity: 1;
    }
  }
  &-wrap {
    position: relative;
    overflow: hidden;
    display: block;
    & span {
      transition: all 0.3s ease-out, opacity 0.3s linear;
      display: block;
      & i {
        font-size: 15px;
        transform: rotate(-40deg);
        margin-left: 5px;
      }
    }
  }
  &-y-1 {
  }
  &-y-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
  }

  &-orange {
    background-color: var(--tp-theme-orange);
    padding: 15px 42px;
    font-family: var(--tp-font-heading);
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    overflow: hidden;

    &-lg {
      padding: 21px 45px;
    }
    & > i {
      width: 22px;
      height: 100%;
      background-color: #ffad8a;
      position: absolute;
      bottom: -5px;
      right: -9px;
      transform: rotate(21deg);
      transition: 0.3s;
    }
    &:hover {
      & .tp-btn-y-1 {
        transform: translateY(-100%);
      }
      & .tp-btn-y-2 {
        transform: translateY(0);
      }
      & i {
        right: -100%;
      }
    }

    &-wrap {
      position: relative;
      overflow: hidden;
      display: block;
      & span {
        color: #fff;
        transition: all 0.3s ease-out, opacity 0.3s linear;
        display: block;
      }
    }
  }

  &-red {
    background-color: var(--tp-theme-red);
  }

  &-border {
    color: #0a0e1a;
    border: 1px solid #57595c;
    padding: 12px 30px;
    font-size: 18px;
    font-family: var(--tp-font-heading);
    border-radius: 5px;
    display: inline-block;
  }

  &-price {
    &:hover {
      color: #0a0e1a;
      background: #e5cf00;
    }
  }
}

.tp-sv-btn {
  background: var(--tp-rom-color);
  border-radius: 5px;
  display: block;
  padding: 6px 20px;
  font-size: 18px;
  font-family: var(--tp-font-heading);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  & i {
    transform: rotate(-45deg);
  }
  &:hover {
    background-color: var(--tp-theme-color);
    color: #fff;
  }
}

.tp-text-btn {
  font-family: var(--tp-font-heading);
  font-size: 18px;
  color: #0a0e1a;
  display: flex;
  align-items: center;
  & i {
    margin-left: 8px;
    transform: rotate(-45deg);
  }

  &-white {
    color: #a3aec3;
  }
}

.icon-circle-btn {
  width: 60px;
  height: 60px;
  background: var(--tp-theme-orange);
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 15px;
  & i {
    transform: rotate(-45deg);
  }
}

.tp-icon-btn {
  font-size: 45px;
  color: #57595c;
  & span {
    height: 38px;
    width: 38px;
    background: #f8f5ff;
    border-radius: 100%;
    display: inline-block;
    display: inline-block;
    position: absolute;
    left: 21px;
    top: 4px;
    z-index: -1;
  }
}
