@use "../utils" as *;

.tp-btn {
  color: #fff;
  background-color: var(--tp-theme-color);
  padding: 15px 42px;
  font-family: var(--tp-font-heading);
  font-size: 18px;
  border-radius: 5px;
  display: inline-block;

  &-sec {
    background-color: var(--tp-theme-color-2);
    padding: 15px 42px;
    font-family: var(--tp-font-heading);
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
    &-lg {
      padding: 21px 45px;
    }
  }

  &-circle {
    font-family: var(--tp-font-heading);
    font-size: 60px;
    color: #fff;
    opacity: 0.3;
    padding: 48px 75px;
    display: inline-block;
    line-height: 1;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    @media #{$xs} {
      font-size: 45px;
    }
  }
}

.tp-sv-btn {
  background: var(--tp-rom-color);
  border-radius: 5px;
  display: block;
  padding: 6px 20px;
  font-size: 18px;
  font-family: var(--tp-font-heading);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  & i {
    transform: rotate(-45deg);
  }
  &:hover {
    background-color: var(--tp-theme-color);
    color: #fff;
  }
}

.tp-text-btn {
  font-family: var(--tp-font-heading);
  font-size: 18px;
  color: #0a0e1a;
  display: flex;
  align-items: center;
  & i {
    margin-left: 8px;
    transform: rotate(-45deg);
  }
}
