@use "../utils" as *;

.tp-header-search-area {
  position: fixed;
  height: 400px;
  width: 100%;
  z-index: 90;
  background: #fff;
  transform: translateY(-100%);
  transition: 0.5s;

  &.tp-search-open {
    transform: translateY(0);
  }
}

.contact-form-search-box {
  & form {
    position: relative;
    & button {
      position: absolute;
      right: 0;
      top: 16px;
    }
  }
}

.tp-search-close {
  position: absolute;
  right: 40px;
  top: 35px;
  font-size: 50px;
  color: #000;
  font-weight: 300;
  padding: 5px;
}
