@use "../utils" as *;

.tp-section {
  &-subtitle {
    font-weight: 500;
    font-size: 15px;
    color: #57595c;
    display: block;
    & i {
      height: 10px;
      width: 10px;
      background: var(--tp-theme-color);
      border-radius: 30px;
      display: inline-block;

      &.dot-orange {
        background: var(--tp-theme-orange);
      }
    }

    &-white {
      color: #a3aec3;
    }
  }
  &-title {
    font-size: 60px;

    &.tp-fs-40 {
      font-size: 40px;
    }
    @media #{$lg} {
      font-size: 54px;
    }
    @media #{$md} {
      font-size: 39px;
    }
    @media #{$xs,$sm} {
      font-size: 36px;
    }

    &-3 {
      @media #{$xl} {
        font-size: 53px;
      }
      @media #{$lg} {
        font-size: 53px;
      }
      @media #{$md} {
        font-size: 45px;
      }
    }

    &-5 {
      @media #{$xl} {
        font-size: 50px;
      }
    }

    // & br {
    //   display: none;
    // }
    &-white {
      color: #fff;
    }
    &-wrapper {
      // & p {
      //   & br {
      //     display: none;
      //   }
      // }

      @media #{ $sm, $xs} {
        padding-right: 0;
      }
    }

    &-text-white {
      color: #a3aec3;
      & b {
        color: #fff;
      }
    }

    & br {
      @media #{$xs,$sm} {
        display: none;
      }
    }
  }
}

.title {
  &-40 {
    font-size: 40px;
    @media #{$xl} {
      font-size: 35px;
    }
    @media #{$lg} {
      font-size: 30px;
    }
    @media #{$md} {
      font-size: 25px;
    }
    @media #{$sm, $xs} {
      font-size: 21px;
    }
    @media #{$xs} {
      font-size: 17px;
    }
  }
}
