@use "../../utils" as *;

.tp-about {
  &-video {
    @media #{$xl} {
      padding-left: 20px;
    }
    @media #{$lg,$md,$xs,$sm} {
      padding-left: 0px;
    }
    &-icon {
      a {
        height: 80px;
        width: 80px;
        border: 1px solid #57595c;
        border-radius: 50%;
        text-align: center;
        line-height: 78px;
        display: inline-block;
      }
    }
    & h4 {
      color: #57595c;
      font-size: 30px;
      margin: 0;
    }
  }
  &-img {
    @media #{$xl} {
      padding-left: 20px;
    }
    @media #{$xs,$sm} {
      padding-left: 0;
      margin-bottom: 30px;
    }
    img {
      width: 100%;
      border-radius: 20px;
    }
  }

  &-box {
    @media #{$xl} {
      padding-left: 20px;
    }
    @media #{$lg,$md,$xs,$sm} {
      padding-left: 0px;
    }

    &-right {
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      background-color: #fff;
    }
  }

  &-content {
    & ul {
      & li {
        list-style: none;
        margin-bottom: 20px;
        & i {
          color: #000;
          font-size: 30px;
          margin-right: 10px;
        }
        & span {
          font-size: 30px;
          font-family: var(--tp-font-heading);
          line-height: 1.2;
          color: #0a0e01;
        }
      }
    }
  }

  &-circle-img {
    position: absolute;
    top: 0;
    right: 185px;
    & img {
      max-width: inherit;
    }
  }

  &-thumb {
    & img {
      position: relative;
      z-index: 99;
    }
  }

  &-circle {
    width: 615px;
    height: 596px;
    background: var(--tp-theme-color-3);
    position: absolute;
    bottom: 0;
    border-radius: 100%;
  }

  &-3 {
    &-shape {
      &-1 {
        top: 27%;
        left: 1%;
      }
      &-2 {
        top: 10%;
        left: 42%;
      }
    }
  }

  &-fact {
  }
}

.tp-bg-circle {
  border-radius: 360px;
  margin: 0 100px;
}

.tp-founder-sep {
  height: 40px;
  width: 1px;
  background: #f83838;
  margin: 25px auto;
}
