@use "../../utils" as *;

.tp-about {
  &-wrapper {
    @media #{$xl} {
      padding-left: 100px;
    }
    @media #{$lg, $md, $xs, $sm} {
      padding-left: 0px;
    }
  }
  &-video {
    @media #{$xl} {
      padding-left: 20px;
    }
    @media #{$lg,$md,$xs,$sm} {
      padding-left: 0px;
    }
    &-icon {
      a {
        height: 80px;
        width: 80px;
        border: 1px solid #57595c;
        border-radius: 50%;
        text-align: center;
        line-height: 78px;
        display: inline-block;
      }
    }
    & h4 {
      color: #57595c;
      font-size: 30px;
      margin: 0;
    }
  }
  &-img {
    @media #{$xl} {
      padding-left: 20px;
    }
    @media #{$xs,$sm} {
      padding-left: 0;
      margin-bottom: 30px;
    }
    img {
      width: 100%;
      border-radius: 20px;
    }
  }

  &-box {
    @media #{$xl} {
      padding-left: 20px;
    }
    @media #{$lg,$md,$xs,$sm} {
      padding-left: 0px;
    }

    &-right {
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      background-color: #fff;

      @media #{$lg, $md, $sm, $xs} {
        position: static;
        width: 100%;
        margin-top: 60px;
        padding-top: 30px;
      }
    }
  }

  &-content {
    & ul {
      & li {
        list-style: none;
        margin-bottom: 20px;
        & i {
          color: #000;
          font-size: 30px;
          margin-right: 10px;
          margin-top: 5px;
        }
        & span {
          font-size: 30px;
          font-family: var(--tp-font-heading);
          line-height: 1.2;
          color: #0a0e01;

          @media #{$xl, $lg} {
            font-size: 28px;
          }
        }
      }
    }
  }

  &-circle-img {
    position: absolute;
    top: 0;
    right: 185px;
    & img {
      max-width: inherit;
    }
  }

  &-thumb {
    @media #{$sm,$xs} {
      margin-left: 0;
      margin-right: 0;
    }
    & img {
      position: relative;
      z-index: 99;
      @media #{$xl, $lg, $sm, $xs} {
        width: 95%;
      }
    }
  }

  &-circle {
    width: 615px;
    height: 596px;
    background: var(--tp-theme-color-3);
    position: absolute;
    bottom: 0;
    border-radius: 100%;

    @media #{$xl} {
      width: 570px;
      height: 575px;
      right: -30px;
    }
    @media #{$lg} {
      width: 400px;
      height: 400px;
    }
    @media #{$sm} {
      width: 500px;
      height: 500px;
      right: 0px;
    }
    @media #{$xs} {
      width: 350px;
      height: 350px;
      right: -5px;
    }
  }

  &-3 {
    &-shape {
      &-1 {
        top: 27%;
        left: 1%;
      }
      &-2 {
        top: 10%;
        left: 42%;
      }
    }
  }

  &-fact {
  }
}

.tp-bg-circle {
  border-radius: 340px;
  margin: 0 100px;
  @media #{$xxlm} {
    margin: 0 30px;
  }
  @media #{$xl, $lg, $md, $sm, $xs} {
    margin: 0;
  }
  @media #{$md, $sm, $xs} {
    border-radius: 100px;
  }
}

.tp-founder {
  &-area {
    @media #{$sm, $xs} {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &-sep {
    height: 40px;
    width: 1px;
    background: #f83838;
    margin: 25px auto;
    @media #{$sm, $xs} {
      margin: 20px auto;
    }
  }
}

.tp-about-fact-right-area {
  @media #{$lg, $md, $sm, $xs} {
    padding-bottom: 0;
  }
}
