@use "../../utils" as *;

.tp-brand-title {
  & h3 {
    color: #fff;
    font-size: 100px;
    text-transform: uppercase;
    margin: 0;
  }

  &-border {
    border-radius: 10px;
    border: 1px solid #57595c;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -1px;
    margin-bottom: -1px;
  }
}

.radial-bg {
  background: radial-gradient(
    54.5% 5715.77% at 47.5% 62%,
    #0058ff 0%,
    #ff4c00 100%
  );
}
