@use "../../utils" as *;

.fs-100 {
  font-size: 100px;
  @media #{$xl} {
    font-size: 85px;
  }
  @media #{$xs,$sm} {
    font-size: 70px;
  }
}

.tpform-title {
  font-size: 30px;
}

.contact-form-box {
  & input,
  & textarea {
    border-color: #57595c;
  }
}

.tp-contact-img {
  & img {
    max-width: inherit;
    margin-left: -40px;

    @media #{$xl,$lg,$md,$sm,$xs} {
      max-width: 100%;
      margin-left: 0;
    }
  }
}

.tp-contact-form-box {
  & input,
  & textarea {
    height: 60px;
    border: 1px solid #57595c;
    border-radius: 10px;
    padding: 0 25px;
  }

  & .p-relative {
    & i {
      position: absolute;
      right: 25px;
      top: 20px;
    }
  }

  & textarea {
    height: 160px;
    padding: 20px 25px;
  }
}
