@use "../../utils" as *;

.fs-100 {
  font-size: 100px;
  @media #{$xl} {
    font-size: 85px;
  }
  @media #{$xs,$sm} {
    font-size: 70px;
  }
}

.tpform-title {
  font-size: 30px;
}

.contact-form-box {
  & input,
  & textarea {
    border-color: #57595c;
  }
}

.tp-contact-img {
  & img {
    max-width: inherit;
    margin-left: -40px;

    @media #{$xl,$lg,$md,$sm,$xs} {
      max-width: 100%;
      margin-left: 0;
    }
  }
}

.tp-contact-form-box {
  & input,
  & textarea {
    height: 60px;
    border: 1px solid #57595c;
    border-radius: 10px;
    padding: 0 25px;
  }

  & .p-relative {
    & i {
      position: absolute;
      right: 25px;
      top: 20px;
    }
  }

  & textarea {
    height: 160px;
    padding: 20px 25px;
  }
}

.tp-contact-info {
  padding: 42px 41px;
  border: 1px solid #57595c;
  border-radius: 15px;
  text-align: center;

  &-icon {
    margin-bottom: 30px;
    & span {
      line-height: 1;
      font-size: 85px;
    }
  }

  &-text {
    & span {
      font-size: 15px;
      color: #57595c;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 20px;
      display: inline-block;
      line-height: 1;
    }

    & p {
      font-size: 30px;
      font-weight: 400;
      font-family: var(--tp-font-heading);
      line-height: 1.2;
      margin: 0;
    }
  }
}

.tp-map-area {
  & iframe {
    height: 700px;
    width: 100%;
  }
}
