@use "../../utils" as *;

.custom-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media #{$xs} {
    justify-content: center;
  }
}

.tpfact {
  &__icon {
    & span {
      font-size: 110px;
      display: inline-flex;
      color: var(--tp-theme-color-2);
      @media #{$md, $sm, $xs} {
        font-size: 90px;
      }
      @media #{$sm, $xs} {
        font-size: 70px;
      }
    }
  }

  &__text {
    & span {
      font-family: var(--tp-font-heading);
      font-size: 100px;
      color: #fff;
      display: inline-block;
      line-height: 1;
      // margin-top: 35px;

      @media #{$xxlm} {
        font-size: 90px;
      }
      @media #{$xl} {
        font-size: 50px;
      }
      @media #{$lg} {
        font-size: 80px;
      }
      @media #{$md} {
        font-size: 60px;
      }
      @media #{$sm, $xs} {
        font-size: 50px;
      }
    }
  }
  &__title {
    font-size: 30px;
    color: #fff;
    opacity: 0.5;
    // margin-top: 30px;

    @media #{$xl} {
      font-size: 15px;
    }
    @media #{$md} {
      font-size: 20px;
    }
    @media #{ $sm, $xs} {
      font-size: 13px;
    }
  }

  &-2 {
    & .tpfact {
      &__icon {
        & span {
          color: #57595c;
        }
        &-2 {
          position: relative;
          & span {
            color: var(--tp-theme-orange);
            @media #{$xl} {
              font-size: 75px;
            }
          }
          &::after {
            content: "";
            height: 100px;
            width: 1px;
            background-color: #d9d9d9;
            position: absolute;
            right: 0;
            top: 10px;

            @media #{ $xl} {
              height: 65px;
            }
            @media #{ $sm, $xs} {
              height: 60px;
            }
          }
          // @media #{$xxlm, $xl} {
          //   margin-right: 0;
          // }
        }
      }
      &__text {
        & span {
          color: #0a0e1a;
        }
      }

      &__title {
        color: #57595c;
        opacity: 1;
      }
    }
  }
}

.cols {
  @media #{$md} {
    width: 50%;
  }
  @media #{$xs} {
    width: 100%;
  }
}
