@use "../../utils" as *;

.tpfaq-wrapper {
  padding: 25px 0;
}
.tp-accordion {
  &-header {
    margin: 0;
  }
  &-item {
    border: 1px solid #57595c;
    border-radius: 10px;
  }
  &-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    width: 100%;
    padding: 23px 30px;
    text-align: left;
    color: #0a0e1a;
    &.collapsed {
      & span {
        transform: rotate(-90deg);
      }
    }
  }
  &-body {
    margin: 0 30px;
    border-top: 1px solid #57595c;
    padding: 20px 0 10px 0;
  }
}
.tpfaq {
  &-bg {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: calc(50% - 65px);
    background-size: cover;
    border-radius: 0 30px 30px 0;

    @media #{$md, $sm, $xs} {
      position: static;
      width: 100%;
      border-radius: 0;
      height: 500px;
      margin-bottom: 30px;
    }
    @media #{$sm} {
      height: 400px;
    }
    @media #{$xs} {
      height: 300px;
      margin-bottom: 20px;
    }
  }

  &-about-bg {
    left: inherit;
    right: 0;
    border-radius: 0;
    @media #{$xl,$lg} {
      background-position: center;
    }
  }
}

.tp-faq {
  &-button {
    text-align: left;
    font-size: 24px;
    border-bottom: 1px solid transparent;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 100%;

    &::after {
      content: "-";
    }

    &.collapsed {
      border-bottom: 1px solid #d9d9d9;
      &::after {
        content: "+";
      }
    }
  }

  &-thumb {
    @media #{$md,$sm,$xs} {
      margin-left: 0;
    }

    & img {
      max-width: inherit;
      @media #{$md,$sm,$xs} {
        max-width: 100%;
      }
    }
  }
}

.tp-faq-body {
  border-bottom: 1px solid transparent;
}

.show .tp-faq-body {
  border-bottom: 1px solid #d9d9d9;
}

.tp-faq-body p {
  padding-top: 10px;
}
