@use "../../utils" as *;

.tp-hero {
  @media #{$xxlm} {
    padding-left: 40px;
  }
  @media #{$sm} {
    padding-left: 20px;
  }
  @media #{$xs} {
    padding-left: 30px;
  }
  &-black {
    @media #{$xxlm} {
      padding-left: 10px;
    }
    &-5 {
      @media #{$xxlm} {
        padding-left: 95px;
      }
      @media #{$sm, $xs} {
        padding-left: 15px;
      }
    }
  }

  &-wrapper-4 {
    @media #{$xxlm} {
      margin-left: 43px;
    }
    @media #{$xl} {
      margin-left: 35px;
    }
    & p {
      @media #{$md} {
        width: 65%;
      }
    }
  }

  &-space {
    @media #{$xs,$sm} {
      padding-top: 200px;
      padding-bottom: 100px;
    }
    &-2 {
      @media #{$md} {
        padding-bottom: 0;
        padding-top: 180px;
      }
      @media #{$sm} {
        padding-bottom: 0;
        padding-top: 170px;
      }
      @media #{$xs} {
        padding-bottom: 0;
        padding-top: 150px;
      }
    }
    &-5 {
      @media #{$xs} {
        padding-bottom: 115px;
        padding-top: 130px;
      }
    }
  }
  &-title {
    color: #ffffff;
    font-size: 110px;
    text-transform: uppercase;
    margin: 0;

    @media #{$xl} {
      font-size: 100px;
    }
    @media #{$lg} {
      font-size: 75px;
    }
    @media #{$md} {
      font-size: 65px;
    }
    @media #{$sm} {
      font-size: 50px;
    }
    @media #{$xs} {
      font-size: 45px;
    }
    &-2 {
      font-size: 100px;
      @media #{$xxlm} {
        font-size: 95px;
      }
      @media #{$xl} {
        font-size: 85px;
      }
      @media #{$lg} {
        font-size: 75px;
      }
      @media #{$md} {
        font-size: 90px;
      }
      @media #{$sm} {
        font-size: 70px;
      }
      @media #{$xs} {
        font-size: 50px;
      }

      & img {
        @media #{$xs} {
          width: 10%;
          height: auto;
        }
      }
    }

    &-black {
      color: #0a0e1a;
      font-size: 100px;
      @media #{$xl} {
        font-size: 80px;
      }
      @media #{$lg} {
        font-size: 67px;
      }
      @media #{$md} {
        font-size: 55px;
      }
      @media #{$sm} {
        font-size: 35px;
      }
      @media #{$xs} {
        font-size: 32px;
      }

      & img {
        margin-left: 48px;
        margin-right: 48px;
        transform: translateY(-15px);

        @media #{$lg} {
          margin-left: 20px;
          margin-right: 25px;
          transform: translateY(-5px);
        }
        @media #{$md} {
          width: 15%;
          margin-left: 10px;
          margin-right: 15px;
          transform: translateY(-5px);
        }
        @media #{$sm} {
          width: 13%;
          margin-left: 10px;
          margin-right: 15px;
          transform: translateY(-5px);
        }
        @media #{$xs} {
          width: 10%;
          margin-left: 3px;
          margin-right: 6px;
          transform: translateY(-2px);
        }
      }
    }
  }
  &-span-1 {
    background: radial-gradient(
      42.24% 2817.5% at 52.45% 54.17%,
      rgba(255, 232, 21, 0.95) 0%,
      #3c7fff 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  &-span-2 {
    color: #b1b4ba;
    font-size: 30px;
    display: inline-block;
    transform: translateY(-5px);
    @media #{$xs} {
      font-size: 16px;
    }
  }

  &-shape-1 {
    left: -37px;
    top: 370px;
  }
  &-shape-2 {
    left: 386px;
    top: 295px;
    @media #{$xl} {
      top: 50%;
      z-index: 1;
      width: 27%;
    }
  }
  &-shape-3 {
    left: 60%;
    top: 31%;
    @media #{$lg} {
      left: 35%;
      top: 29%;
    }
  }
  &-shape-4 {
    right: 192px;
    top: 200px;
    @media #{$md} {
      right: 7%;
      top: 50%;
    }
  }
  &-shape-5 {
    right: 300px;
    bottom: 130px;
    @media #{$lg} {
      right: 100px;
      bottom: 73px;
    }
    @media #{$md} {
      right: 25%;
      bottom: 9%;
    }
  }

  &-star-shape {
    &-1 {
      top: 270px;
      left: 60px;
      @media #{$xl} {
        top: 150px;
      }
      @media #{$lg} {
        top: 140px;
      }
    }
    &-2 {
      top: 177px;
      left: 37%;
    }
    &-3 {
      bottom: 100px;
      left: 45%;
    }
  }

  &-info {
    color: #b1b4ba;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    top: 100px;
    z-index: 11;
  }
  &-social {
    p {
      transform: rotate(-90deg);
      display: inline-block;
    }
  }

  &-desc {
    & p {
      color: #b1b4ba;
      font-size: 30px;
      display: inline-block;
      transform: translateY(-5px);
      font-family: var(--tp-font-heading);
      margin: 0;
      margin-right: 60px;
      @media #{$xs} {
        font-size: 16px;
      }
    }
  }
  &-url-bg {
    width: 30px;
    height: 65px;
    background: #fff;
    opacity: 0.2;
    display: inline-block;
  }
  &-url-box {
    & a {
      display: flex;
      align-items: center;
    }
    & i {
      color: #b1b4ba;
      font-size: 52px;
      display: inline-flex;
      margin-left: -20px;
    }
  }

  &-black {
    &-content {
      max-width: 488px;
      margin-left: 155px;
      @media #{$lg} {
        margin-left: 75px;
        margin-right: 20px;
      }
      @media #{$md} {
        margin-left: 0;
      }
      @media #{$sm,$xs} {
        margin-left: 0;
        margin-left: 0;
        max-width: 100%;
      }

      & p {
        @media #{$xs} {
          font-size: 15px;
        }
      }
    }
  }

  &-img {
    flex: 0 0 auto;
    @media screen and (min-width: 1601px) and (max-width: 1800px) {
      width: 350px;
    }
    @media #{$xxlm} {
      width: 280px;
      margin-right: 10px;
    }
    @media #{$xl} {
      width: 200px;
      margin-right: 10px;
    }
    @media #{$lg, $md} {
      width: 130px;
      margin-right: 10px;
    }

    & img {
      max-width: inherit;
      @media screen and (min-width: 1601px) and (max-width: 1800px) {
        max-width: 100%;
      }

      @media #{$xxlm, $xl, $lg, $md} {
        max-width: 100%;
      }
    }
  }

  &-3 {
    &-shape-2 {
      right: 100px;
      border-radius: 100%;
      bottom: 55px;
      z-index: 2;
      @media #{$xxlm} {
        width: 300px;
      }
      @media #{$xl} {
        width: 250px;
      }
      @media #{$lg} {
        width: 200px;
        bottom: 125px;
      }
      @media #{$md} {
        width: 140px;
        bottom: 125px;
        right: 5%;
      }

      @media #{$sm} {
        width: 100px;
      }
    }
    &-shape-1 {
      right: 60px;
      top: 137px;
      z-index: 1;
      @media #{$xxlm, $xl} {
        top: 200px;
        width: 200px;
      }
      @media #{$lg} {
        width: 155px;
        top: 200px;
      }
      @media #{$md} {
        width: 150px;
        top: 210px;
        right: 3%;
      }
      @media #{$sm} {
        width: 100px;
      }
    }
  }
}

.hero-bg-img {
  position: absolute;
  width: 43%;
  height: calc(100% - 102px);
  bottom: 0;
  right: 0;
  background-size: cover;
  @media #{$md} {
    position: static;
    width: 100%;
    height: 600px;
    margin-top: 30px;
  }
  @media #{$sm} {
    position: static;
    width: 100%;
    height: 500px;
    margin-top: 30px;
  }
  @media #{$xs} {
    position: static;
    width: 100%;
    height: 400px;
    margin-top: 30px;
  }
}

.ml-m-5 {
  margin-left: -6px;
  @media #{$lg} {
    margin-left: 5px;
  }
}

.hero-circle-shape {
  width: 717px;
  height: 717px;
  position: absolute;
  background: #ffe6ce;
  border-radius: 100%;
  top: 150px;
  left: -100px;

  @media #{$lg} {
    width: 500px;
    height: 500px;
  }
  @media #{$md} {
    width: 300px;
    height: 300px;
  }
  @media #{$sm, $xs} {
    width: 250px;
    height: 250px;
    left: -50px;
  }
}

.tp-el-shape {
  right: 0;
  bottom: 0;
  img {
    width: 95%;
    @media #{$xxlm} {
      width: 90%;
    }
    @media #{$xl} {
      width: 77%;
    }
    @media #{$lg} {
      width: 62%;
    }
    @media #{$md, $sm, $xs} {
      width: 50%;
    }
  }

  &-5 {
    & img {
      width: 98%;

      @media #{$xxlm} {
        width: 80%;
      }
      @media #{$xl} {
        width: 65%;
      }
      @media #{$lg} {
        width: 65%;
      }
      @media #{$md, $sm, $xs} {
        width: 50%;
      }
    }
  }
}

.tp-hero-social {
  &-4 {
    position: absolute;
    display: flex;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-size: 17px;
    color: #0a0e1a;
    top: 50%;
    left: 0;
    font-weight: 500;

    @media #{$xxlm} {
      left: -65px;
    }
    & span {
      margin: 0 5px;
    }
  }

  &-5 {
    @media #{$xxlm} {
      left: -40px;
    }
  }
}
