@use "../../utils" as *;

.tp-hero {
  @media #{$xxlm} {
    padding-left: 90px;
  }

  &-space {
    @media #{$xs,$sm} {
      padding-top: 200px;
      padding-bottom: 100px;
    }
  }
  &-title {
    color: #ffffff;
    font-size: 110px;
    text-transform: uppercase;
    margin: 0;

    @media #{$xl} {
      font-size: 100px;
    }
    @media #{$lg} {
      font-size: 75px;
    }
    @media #{$md} {
      font-size: 65px;
    }
    @media #{$sm} {
      font-size: 50px;
    }
    @media #{$xs} {
      font-size: 45px;
    }
    &-2 {
      font-size: 100px;
      @media #{$xl} {
        font-size: 85px;
      }
    }
  }
  &-span-1 {
    background: radial-gradient(
      42.24% 2817.5% at 52.45% 54.17%,
      rgba(255, 232, 21, 0.95) 0%,
      #3c7fff 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  &-span-2 {
    color: #b1b4ba;
    font-size: 30px;
    display: inline-block;
    transform: translateY(-5px);
    @media #{$xs} {
      font-size: 16px;
    }
  }

  &-shape-1 {
    left: -37px;
    top: 370px;
  }
  &-shape-2 {
    left: 386px;
    top: 295px;
    @media #{$xl} {
      top: 50%;
      z-index: 1;
      width: 27%;
    }
  }
  &-shape-3 {
    left: 60%;
    top: 31%;
    @media #{$lg} {
      left: 35%;
      top: 29%;
    }
  }
  &-shape-4 {
    right: 192px;
    top: 200px;
    @media #{$md} {
      right: 7%;
      top: 50%;
    }
  }
  &-shape-5 {
    right: 300px;
    bottom: 130px;
    @media #{$lg} {
      right: 100px;
      bottom: 73px;
    }
    @media #{$md} {
      right: 25%;
      bottom: 9%;
    }
  }

  &-info {
    color: #b1b4ba;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    top: 100px;
    z-index: 11;
  }
  &-social {
    p {
      transform: rotate(-90deg);
      display: inline-block;
    }
  }

  &-desc {
    & p {
      color: #b1b4ba;
      font-size: 30px;
      display: inline-block;
      transform: translateY(-5px);
      font-family: var(--tp-font-heading);
      margin: 0;
      margin-right: 60px;
      @media #{$xs} {
        font-size: 16px;
      }
    }
  }
  &-url-bg {
    width: 30px;
    height: 65px;
    background: #fff;
    opacity: 0.2;
    display: inline-block;
  }
  &-url-box {
    & a {
      display: flex;
      align-items: center;
    }
    & i {
      color: #b1b4ba;
      font-size: 52px;
      display: inline-flex;
      margin-left: -20px;
    }
  }
}

.hero-bg-img {
  position: absolute;
  width: 45%;
  height: calc(100% - 113px);
  bottom: 0;
  right: 0;
  background-size: cover;
}
