@use "../../utils" as *;

.tp-project-tab-area {
  @media #{$lg} {
    padding-right: 40px;
  }
  @media #{$md} {
    padding-right: 0;
  }
  @media #{$xs,$sm} {
    padding-right: 15px;
    padding-left: 15px;
  }
  &-3 {
    padding-right: 0;
    padding-left: 0;
  }
}
.tp-project {
  &-tab {
    @media #{$md,$xs,$sm} {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    & button {
      color: #fff;
      font-size: 100px;
      font-family: var(--tp-font-heading);
      line-height: 1.2;
      border-bottom: 1px solid #2f446b;
      padding: 20px 100px;
      padding-right: 35px;
      transition: 0.3s;
      text-align: left;

      @media #{$xxlm} {
        font-size: 80px;
      }
      @media #{$xl} {
        font-size: 75px;
        padding-left: 40px;
      }

      @media #{$lg} {
        font-size: 55px;
        padding-left: 30px;
      }

      @media #{$md,$xs,$sm} {
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px;
      }

      @media #{$xs,$sm} {
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
      }
      &.active {
        color: var(--tp-theme-color-2);
        border-color: var(--tp-theme-color-2);
      }
    }

    &-thumb {
      @media #{$md} {
        padding: 0 40px;
      }
      & img {
        border-radius: 20px;
      }
    }
    &-content {
      @media #{$md,$xs,$sm} {
        padding-left: 0;
      }
    }
  }
}

.tpportfolio {
  position: relative;

  &__thumb {
    & img {
      border-radius: 20px;
    }
  }
  &__text {
    position: absolute;
    bottom: 70px;
    left: 80px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    @media #{$lg, $md, $sm, $xs} {
      left: 60px;
      bottom: 50px;
    }
    & span {
      background-color: #fff;
      padding: 12px 20px;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 500;
      display: inline-block;
      @media #{$xl} {
        padding: 10px 15px;
        font-size: 13px;
      }
      @media #{$lg} {
        padding: 10px 15px;
        font-size: 11px;
      }
    }
  }
  &__title {
    background-color: #fff;
    padding: 12px 20px;
    font-size: 30px;
    margin: 0;
    margin-top: 5px;
    @media #{$xl} {
      padding: 10px 15px;
      font-size: 25px;
    }
    @media #{$lg, $md, $sm, $xs} {
      padding: 10px 15px;
      font-size: 20px;
    }
  }
  &:hover {
    & .tpportfolio__text {
      opacity: 1;
      visibility: visible;
      bottom: 80px;
      @media #{$lg, $md, $sm, $xs} {
        bottom: 60px;
      }
    }
  }
}

.tpshowcase {
  &__thumb {
    @media #{$md, $sm, $xs} {
      margin-bottom: 30px;
    }

    &-5 {
      @media #{$md, $sm, $xs} {
        margin-bottom: 0;
      }
    }
  }
  &__number {
    & span {
      color: #a3aec3;
      font-size: 30px;
      font-family: var(--tp-font-heading);
      position: relative;
      &::before {
        width: 60px;
        height: 1px;
        content: "";
        background: #a3aec3;
        position: absolute;
        left: -68px;
        top: 50%;
      }
    }
  }

  &__cat {
    & span {
      color: #0a0e1a;
      font-size: 15px;
      font-weight: 500;
      background: #ffe9c9;
      text-transform: uppercase;
      border-radius: 30px;
      display: inline-block;
      padding: 1px 16px;
    }
  }

  &__title {
    & a {
      color: #fff;
      font-size: 40px;
      font-weight: 400;

      @media #{$lg} {
        font-size: 35px;
      }
      @media #{$xs} {
        font-size: 30px;
      }
    }
  }

  &__btn {
  }

  &__tag {
    font-size: 15px;
    color: #0a0e1a;
    font-weight: 500;
    background: #ffe9c9;
    padding: 6px 16px;
    padding-top: 7px;
    border-radius: 15px;
    display: inline-block;
    line-height: 1;
  }

  &__border {
    border: 1px solid #57595c;
  }

  &__logo {
    min-height: 320px;
    padding: 30px;
    @media #{$md, $sm, $xs} {
      margin-bottom: -1px;
    }
  }

  &__content-box {
    padding: 30px;
    margin-left: -1px;
    margin-bottom: -1px;

    @media #{$md, $sm, $xs} {
      margin-top: -1px;
    }
  }
}

.tpproject {
  &-bg {
    background-color: #d6f0ff;
    padding: 20px;
  }

  &__content {
    @media #{$md,$xs,$sm} {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__thumb {
  }

  &__meta {
    margin-bottom: 5px;
    & span {
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 500;
      color: #57595c;
    }
  }

  &__title {
    font-size: 30px;
    color: #0a0e1a;
    margin: 0;
  }

  &__link {
  }
}

.tp-project-active-margin {
  margin: 0 -100px;
  @media #{$md,$sm, $xs} {
    margin: 0;
  }
}

.showcase-row-item {
  @media #{$md, $sm, $xs} {
    margin-bottom: 30px;
  }
}

// portfolio inner page

.tp-portfolio {
  &-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-89%) scale(0.7);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

    & a {
      height: 75px;
      width: 135px;
      background: var(--tp-theme-color-2);
      display: inline-block;
      border-radius: 100%;
      font-size: 50px;
      line-height: 89px;
    }
  }

  &-thumb {
    &::before {
      content: "";
      background: var(--tp-theme-color);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      opacity: 0;
      border-radius: 15px;
      visibility: hidden;
      transition: 0.3s;
    }
  }

  &-item:hover {
    & .tp-portfolio-arrow {
      opacity: 1;
      visibility: visible;
      transform: translateY(-89%) scale(1);
    }

    & .tp-portfolio-thumb {
      &::before {
        opacity: 0.7;
        visibility: visible;
      }
    }
  }

  &-text {
    & p {
      & span {
        width: 50px;
        height: 1px;
        display: inline-block;
        background: #57595c;
        transform: translateY(-5px);
      }
    }
  }

  &-filter {
    & button {
      font-size: 15px;
      color: #57595c;
      font-weight: 500;
      text-transform: uppercase;
      padding: 0 20px;
      position: relative;
      &.active {
        color: #0a0e1a;
      }

      &::after {
        content: "|";
        top: -1px;
        right: -4px;
        position: absolute;
        border-radius: 15px;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }

  &-details {
    &-title {
      font-size: 60px;
      font-weight: 400;
      color: #0a0e1a;
      @media #{$xs} {
        font-size: 50px;
      }
    }
  }

  &-widget {
    background: #fbf6ef;
    padding: 35px;
    border-radius: 15px;
    & ul {
      & li {
        list-style: none;
        margin-bottom: 15px;
        border-radius: 5px;
        background: #fff;
        padding: 20px 27px;

        &:last-child {
          margin-bottom: 0;
        }

        & label {
          font-size: 15px;
          font-weight: 500;
          text-transform: uppercase;
          color: #57595c;
          margin-bottom: 15px;
          line-height: 1;
        }
      }
    }

    &-title {
      font-weight: 500;
      & span {
        height: 10px;
        width: 10px;
        background: var(--tp-theme-color);
        border-radius: 30px;
        display: inline-block;
        margin-right: 5px;
        transform: translateY(-3px);
      }
    }

    &-subtitle {
      font-size: 21px;
      font-weight: 400;
    }
  }

  &-list-item {
    & li {
      list-style: none;
      margin-bottom: 15px;
      position: relative;
      &::before {
        content: "\f061";
        font-family: "Font Awesome 5 Pro";
        transform: rotate(-40deg);
        display: inline-block;
        margin-right: 5px;
        position: absolute;
        top: 0;
        left: 0;
      }

      & span {
        margin-left: 23px;
        display: inline-block;
        overflow: hidden;
      }
    }
  }
}
