@use "../../utils" as *;

.tp-project-tab-area {
  @media #{$lg} {
    padding-right: 40px;
  }
}
.tp-project {
  &-tab {
    & button {
      color: #fff;
      font-size: 100px;
      font-family: var(--tp-font-heading);
      line-height: 1.2;
      border-bottom: 1px solid #2f446b;
      padding: 20px 100px;
      padding-right: 35px;
      transition: 0.3s;

      @media #{$xxlm} {
        font-size: 80px;
      }
      @media #{$xl} {
        font-size: 75px;
        padding-left: 40px;
      }

      @media #{$lg} {
        font-size: 55px;
        padding-left: 30px;
        display: block;
        width: 100%;
      }
      &.active {
        color: var(--tp-theme-color-2);
        border-color: var(--tp-theme-color-2);
      }
    }

    &-thumb {
      & img {
        border-radius: 20px;
      }
    }
  }
}
