@use "../../utils" as *;

.tp-project-tab-area {
  @media #{$lg} {
    padding-right: 40px;
  }
  @media #{$md} {
    padding-right: 0;
  }
  @media #{$xs,$sm} {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.tp-project {
  &-tab {
    @media #{$md,$xs,$sm} {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    & button {
      color: #fff;
      font-size: 100px;
      font-family: var(--tp-font-heading);
      line-height: 1.2;
      border-bottom: 1px solid #2f446b;
      padding: 20px 100px;
      padding-right: 35px;
      transition: 0.3s;
      text-align: left;

      @media #{$xxlm} {
        font-size: 80px;
      }
      @media #{$xl} {
        font-size: 75px;
        padding-left: 40px;
      }

      @media #{$lg} {
        font-size: 55px;
        padding-left: 30px;
      }

      @media #{$md,$xs,$sm} {
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px;
      }

      @media #{$xs,$sm} {
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
      }
      &.active {
        color: var(--tp-theme-color-2);
        border-color: var(--tp-theme-color-2);
      }
    }

    &-thumb {
      @media #{$md} {
        padding: 0 40px;
      }
      & img {
        border-radius: 20px;
      }
    }
    &-content {
      @media #{$md,$xs,$sm} {
        padding-left: 0;
      }
    }
  }
}

.tpportfolio {
  position: relative;

  &__thumb {
    & img {
      border-radius: 20px;
    }
  }
  &__text {
    position: absolute;
    bottom: 70px;
    left: 80px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    & span {
      background-color: #fff;
      padding: 12px 20px;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 500;
      display: inline-block;
    }
  }
  &__title {
    background-color: #fff;
    padding: 12px 20px;
    font-size: 30px;
    margin: 0;
    margin-top: 5px;
  }
  &:hover {
    & .tpportfolio__text {
      opacity: 1;
      visibility: visible;
      bottom: 80px;
    }
  }
}

.tpshowcase {
  &__number {
    & span {
      color: #a3aec3;
      font-size: 30px;
      font-family: var(--tp-font-heading);
      position: relative;
      &::before {
        width: 60px;
        height: 1px;
        content: "";
        background: #a3aec3;
        position: absolute;
        left: -68px;
        top: 50%;
      }
    }
  }

  &__cat {
    & span {
      color: #0a0e1a;
      font-size: 15px;
      font-weight: 500;
      background: #ffe9c9;
      text-transform: uppercase;
      border-radius: 30px;
      display: inline-block;
      padding: 1px 16px;
    }
  }

  &__title {
    & a {
      color: #fff;
      font-size: 40px;
      font-weight: 400;
    }
  }

  &__btn {
  }
}
