@use "../../utils" as *;

.tpprice {
  padding: 50px 50px;
  border-radius: 20px;
  &__icon {
    position: relative;
    margin-bottom: 4px;
    & span {
      font-size: 115px;
      position: relative;
      z-index: 1;
      margin-left: 23px;
    }
    &-shape {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__price {
    & h4 {
      font-size: 70px;
    }
  }
  &__title {
    font-size: 30px;
    font-weight: 400;
    @media #{$lg} {
      font-size: 25px;
    }
  }
  &__feature {
    list-style: none;
    & li {
      color: #57595c;
      margin-bottom: 15px;
      display: flex;
      & i {
        margin-right: 10px;
        font-size: 18px;
        margin-top: 6px;
      }
      & span {
        font-size: 17px;
      }
    }
  }

  &__sep {
    border-top: 1px solid #57595c;
    margin-top: 22px;
    margin-bottom: 23px;
  }

  &:hover {
    border: 1px solid #57595c;
  }
}
