@use "../../utils" as *;
.tp-services-area {
  @media #{$xs,$sm} {
    padding: 0;
    margin-top: 80px;
  }
}
.tpservices {
  margin-left: -1px;
  border: 1px solid #57595c;
  padding: 40px;
  @media #{$xl,$md} {
    padding: 35px 24px;
  }

  &__icon {
    & span {
      font-size: 92px;
      color: var(--tp-common-black);
      display: flex;
      position: relative;
      z-index: 2;
    }
    &-shape {
      position: absolute;
      left: 3px;
      top: -8px;
      z-index: 1;
    }
  }

  &__title {
    font-size: 30px;

    @media #{$xl} {
      font-size: 28px;
    }
    @media #{$md} {
      font-size: 25px;
    }

    &-4 {
      @media #{$xxlm} {
        font-size: 26px;
      }
      @media #{$xl, $lg, $md} {
        font-size: 21px;
      }
    }
  }
  &__text {
    & p {
    }
  }
  &__list {
    & ul {
      list-style: none;
      & li {
        color: #57595c;
        margin-bottom: 5px;
        &::before {
          background-color: #57595c;
          content: "";
          height: 8px;
          width: 8px;
          display: inline-block;
          border-radius: 30px;
          margin-right: 10px;
          transform: translateY(-1px);
        }
      }
    }
  }
  &:hover {
    background-color: var(--tp-rom-color);
  }

  &-2 {
    padding: 30px 34px;
    padding-bottom: 20px;
    margin-top: -1px;
    & .tpservices__icon {
      & span {
        font-size: 65px;
        color: var(--tp-common-black);
        margin-left: 25px;
      }
    }
  }

  &__btn {
    &-next {
      & a {
        font-size: 45px;
        padding: 0;
        display: inline-block;
        transition: 0.3s;
        & i {
          transform: none;
        }

        &:hover {
          color: var(--tp-theme-orange);
        }
      }
    }
  }
}

.tpservices-4-spacing {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.tp-services-bg {
  background-color: #d6f0ff;
  border-radius: 140px;
  @media #{$md,$sm,$xs} {
    border-radius: 0;
  }
}

.tp-service-tab {
  & .nav-links:first-child {
    border-top: 1px solid #57595c;
  }

  & .active {
    & .tpsvtab__title {
      color: var(--tp-theme-red);
      transition: 0.3s;
    }
  }
}

.tpsvtab {
  border-bottom: 1px solid #57595c;
  padding: 17px 0;
  padding-bottom: 18px;
  &__num {
    margin-top: 12px;
  }

  &__title {
    font-size: 100px;
  }

  &__content {
    & p {
      color: #b1b4ba;
      margin: 0;
    }
  }
}
