@use "../../utils" as *;

.tp-team-area {
  @media #{$xl} {
    padding-right: 40px;
    padding-left: 40px;
  }
  @media #{$lg,$md,$xs,$sm} {
    padding-right: 0;
    padding-left: 0;
  }
}
.tpteam {
  padding: 10px;
  &__thumb {
    position: relative;
    & img {
      transition: 0.3s;
    }
    &-2 {
      margin-left: 10px;
      position: relative;
      & > a {
        display: block;
        overflow: hidden;
        border-radius: 15px;
      }
    }

    &-border {
      position: absolute;
      width: 100%;
      height: 100%;
      top: -10px;
      left: -10px;
      border: 1px solid #57595c;
      z-index: -1;
      border-radius: 15px;
    }

    &-bg {
      width: 100%;
      height: 360px;
      background-color: #ffe9c9;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      border-radius: 150px 150px 0 0;

      &-border {
        height: 360px;
        border: 1px solid #57595c;
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        z-index: -1;
        border-radius: 150px 150px 0 0;
      }
    }
  }
  &__info {
    &.ml-70 {
      @media #{$xxlm, $xl, $xs, $sm} {
        margin-left: 20px;
      }
      @media #{$lg} {
        margin-left: 40px;
      }
    }
    & span {
      color: #57595c;
      font-size: 17px;
      & i {
        height: 1px;
        width: 30px;
        background-color: #d6d6d1;
        display: inline-block;
        margin-right: 10px;
        transform: translateY(-5px);
      }
    }
  }
  &__social {
    & a {
      color: #0a0e1a;
      font-size: 25px;
      margin-right: 15px;
    }
    &-2 {
      position: absolute;
      left: 0;
      right: 0;
      top: 55%;
      transform: translateY(-50%);
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
      & a {
        height: 50px;
        width: 50px;
        color: #0a0e1a;
        background: #fff;
        display: inline-block;
        border-radius: 50%;
        line-height: 50px;
        margin: 0 2px;
      }
    }
  }

  &__title {
    font-size: 30px;
    margin-bottom: 5px;
    transition: 0.3s;
    @media #{$xl} {
      font-size: 27px;
    }

    &-2 {
      @media #{$lg} {
        font-size: 23px;
      }
    }
  }
  &__subtitle {
    margin-bottom: 7px;
    display: block;
  }

  &:hover {
    & .tpteam__social-2 {
      opacity: 1;
      visibility: visible;
      top: 50%;
    }

    & .tpteam__thumb-2 {
      & img {
        filter: blur(2px);
      }
    }

    & .tpteam__title {
      color: var(--tp-theme-color);
    }
  }
}

.tp-swiper-team-button {
  display: inline-block;
  font-size: 52px;
}

.tp-team-nav {
  @media #{$xs,$sm} {
    margin-bottom: 20px;
  }
  & span {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #dbdbdb;
    border-radius: 100%;
    margin: 0 10px;
  }
}

.tp-team-details {
  &-content {
    @media #{$md, $sm, $xs} {
      padding-left: 0;
    }
  }
  &-more {
    & ul {
      list-style: none;
      & li {
        margin-bottom: 10px;
        & label {
          color: #57595c;
          width: 140px;
        }

        & span {
          color: #0a0e1a;
        }
      }
    }
  }
  &-exp {
    & ul {
      margin-left: 20px;
      & li {
        color: #0a0e1a;
        margin-bottom: 10px;
      }
    }
  }

  &-thumb {
    &-email {
      & a {
        font-size: 13px;
        color: #0a0e1a;
        font-weight: 700;
        text-transform: uppercase;
        display: inline-flex;
        align-items: center;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        padding: 7px 20px;
        & i {
          color: var(--tp-theme-color);
          font-size: 14px;
          border-left: 1px solid #0a0e1a;
          margin-left: 20px;
          padding-left: 20px;
        }
      }

      @media #{$xs} {
        margin-bottom: 30px;
      }
    }
  }
}

.tp-team-details-skill-box {
  & .progress-outer {
    border: 0;
    padding: 0;
  }
  & .progress,
  .progress-stacked {
    height: 10px;
    background-color: #ddd;
  }
}
