@use "../../utils" as *;

.tp-team-area {
  @media #{$xl} {
    padding-right: 40px;
    padding-left: 40px;
  }
  @media #{$lg,$md,$xs,$sm} {
    padding-right: 0;
    padding-left: 0;
  }
}
.tpteam {
  &__thumb {
    position: relative;
    & img {
      width: 100%;
      transition: 0.3s;
    }
    &-2 {
      margin-left: 10px;
      position: relative;
      & > a {
        display: block;
        overflow: hidden;
        border-radius: 15px;
      }
    }

    &-border {
      position: absolute;
      width: 100%;
      height: 100%;
      top: -10px;
      left: -10px;
      border: 1px solid #57595c;
      z-index: -1;
      border-radius: 15px;
    }
  }
  &__info {
    @media #{$xxlm, $xl, $xs, $sm} {
      margin-left: 20px;
    }
    @media #{$lg} {
      margin-left: 40px;
    }
    & span {
      color: #57595c;
      font-size: 17px;
      & i {
        height: 1px;
        width: 30px;
        background-color: #d6d6d1;
        display: inline-block;
        margin-right: 10px;
        transform: translateY(-5px);
      }
    }
  }
  &__social {
    & a {
      color: #0a0e1a;
      font-size: 25px;
      margin-right: 15px;
    }
    &-2 {
      position: absolute;
      left: 0;
      right: 0;
      top: 55%;
      transform: translateY(-50%);
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
      & a {
        height: 50px;
        width: 50px;
        color: #0a0e1a;
        background: #fff;
        display: inline-block;
        border-radius: 50%;
        line-height: 50px;
        margin: 0 2px;
      }
    }
  }

  &__title {
    font-size: 30px;
    margin-bottom: 5px;
    transition: 0.3s;
    @media #{$xl} {
      font-size: 27px;
    }
  }
  &__subtitle {
    margin-bottom: 7px;
    display: block;
  }

  &:hover {
    & .tpteam__social-2 {
      opacity: 1;
      visibility: visible;
      top: 50%;
    }

    & .tpteam__thumb-2 {
      & img {
        filter: blur(2px);
      }
    }

    & .tpteam__title {
      color: var(--tp-theme-color);
    }
  }
}

.tp-swiper-team-button {
  display: inline-block;
  font-size: 52px;
}

.tp-team-nav {
  @media #{$xs,$sm} {
    margin-bottom: 20px;
  }
  & span {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #dbdbdb;
    border-radius: 100%;
    margin: 0 10px;
  }
}
