@use "../../utils" as *;

.tp-testimonial {
  &-main-wrapper {
    margin-left: -56px;
  }
  &-desc {
    font-size: 100px;
    z-index: 1;
    @media #{$xl} {
      font-size: 75px;
    }
    @media #{$lg} {
      font-size: 60px;
    }
    @media #{$md} {
      font-size: 50px;
    }
    @media #{$sm} {
      font-size: 40px;
    }
    @media #{$xs} {
      font-size: 35px;
    }
  }

  &-text {
    font-size: 60px;
    color: #fff;
    & i {
      color: var(--tp-theme-color-2);
      font-size: 42px;
    }
  }
  &-name {
    font-size: 30px;
    margin-bottom: 5px;
  }
  &-desig {
    color: var(--tp-body-color);
    font-size: 17px;
    margin-left: 76px;
    & span {
      height: 2px;
      width: 60px;
      display: inline-block;
      background: #57595c;
      margin-right: 5px;
      transform: translateY(-5px);
    }
  }
  &-shape {
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    z-index: -1;
    @media #{$xl} {
      top: 50px;
    }
    @media #{$lg} {
      top: 0;
    }

    &-1 {
      right: 15%;
      bottom: 17%;
    }
    &-2 {
      right: 7%;
      top: 20%;
    }
  }

  &-thumb-1 {
    top: 115px;
    left: 0;
    @media #{$xl} {
      top: 60px;
    }
  }
  &-thumb-2 {
    right: 0;
    top: 35px;
  }

  &-author {
    &-name {
      font-size: 30px;
      color: #fff;
    }
    &-desig {
      font-size: 17px;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.rotate-90 {
  transform: scaleX(-1);
  display: inline-block;
  color: var(--tp-theme-color-2);
  font-size: 42px;
}

.tp-swiper-test-button {
  position: absolute;
  left: -100px;
  top: 35%;
  font-size: 52px;
  z-index: 9;
  @media #{$xxlm,$xl,$md,$xs,$sm} {
    left: 0;
    top: -45px;
  }
  @media #{$lg} {
    left: 0;
  }
  &-next {
    left: auto;
    right: -100px;
    @media #{$xxlm,$xl,$md,$xs,$sm} {
      right: 0;
    }
    @media #{$lg} {
      right: 0px;
    }
  }
  &-prev {
  }

  // &-2 {
  //   display: inline-block;
  //   color: #fff;
  //   font-size: 52px;
  //   z-index: 9;
  // }
}
.tp-rot-180 {
  transform: rotate(180deg);
}

.tp-test-slider-arrow-2 {
  position: absolute;
  bottom: 25px;
  left: 500px;
  opacity: 0.5;
  & span {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #dbdbdb;
    border-radius: 100%;
    margin: 0 10px;
  }
}
