@use "../../utils" as *;

.tp-testimonial {
  &-desc {
    font-size: 100px;
    z-index: 1;
    @media #{$xl} {
      font-size: 75px;
    }
    @media #{$lg} {
      font-size: 60px;
    }
    @media #{$md} {
      font-size: 50px;
    }
  }
  &-name {
    font-size: 30px;
    margin-bottom: 5px;
  }
  &-desig {
    color: var(--tp-body-color);
    font-size: 17px;
    margin-left: 76px;
    & span {
      height: 2px;
      width: 60px;
      display: inline-block;
      background: #57595c;
      margin-right: 5px;
      transform: translateY(-5px);
    }
  }
  &-shape {
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    z-index: -1;
    @media #{$xl} {
      top: 50px;
    }
    @media #{$lg} {
      top: 0;
    }
  }

  &-thumb-1 {
    top: 115px;
    left: 0;
    @media #{$xl} {
      top: 60px;
    }
  }
  &-thumb-2 {
    right: 0;
    top: 35px;
  }
}

.tp-swiper-test-button {
  position: absolute;
  left: -100px;
  top: 35%;
  font-size: 52px;
  z-index: 9;
  @media #{$xxlm,$xl,$md} {
    left: 0;
    top: -45px;
  }
  @media #{$lg} {
    left: 0;
  }
  &-next {
    left: auto;
    right: -100px;
    @media #{$xxlm,$xl,$md} {
      right: 0;
    }
    @media #{$lg} {
      right: 0px;
    }
  }
  &-prev {
  }
}
.tp-rot-180 {
  transform: rotate(180deg);
}
